resources:
  metadata:
    name: ibmMasVisualInspection
  resourceDefs:
    containerImages:
    - image: cp/visualinspection/vision-dnn-actiondetect
      tag: 8.5.0-x86_64
      digest: sha256:67e8cd8c6f48e78230472543ca8820aa2c0492e7765934249aa3792551acab0f
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-dnn-anomaly
      tag: 8.5.0-x86_64
      digest: sha256:1ad5cbea2b79611105efa2effc09dbe43170a52245a2e9869d930fc4fb04ee01
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-dnn-custom
      tag: 8.5.0-x86_64
      digest: sha256:f61d6f2527f71ae41d3a9bfdfb8fb3a257506313d8555ca6f24a4f4a534c8d92
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-dnn-detectron
      tag: 8.5.0-x86_64
      digest: sha256:eef408eb738cdd6ad2dc7426175e6e6e662875d3df0031a50f04545cf015a140
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-dnn-detectron2
      tag: 8.5.0-x86_64
      digest: sha256:53969eff10cca9517048d2a53de392ccaf1e9a5e7256d64b370a49108dcbe2bb
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-dnn-caffe
      tag: 8.5.0-x86_64
      digest: sha256:e1c838ce349f0d3c40fc80a036c8c7f53f64e8e5a7dff95a114f8de129456c32
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-dnn-yolov3
      tag: 8.5.0-x86_64
      digest: sha256:0f906e13a3486a9bd7ce43c95852d371a4978ba78449044c605b963d608ada29
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-dle
      tag: 8.5.0-x86_64
      digest: sha256:70d78bf2d471b8414d4a56fa02f64fbe9117672d04c5201899b0c380bb311781
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-elasticsearch
      tag: 8.5.0-x86_64
      digest: sha256:d7312b2e7d9835810163c68ccbcb3a88356fb7ad0e4fd1f94300b47f02b5fda5
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-keycloak
      tag: 8.5.0-x86_64
      digest: sha256:211300a0ef1d0b925deec476f2ab7131db9880eff1a2387d5b0ee3b99637014b
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-logstash
      tag: 8.5.0-x86_64
      digest: sha256:a178ed3d42d119c0c153380edcc07ef2b95c783cf1a06bd99bb4d86ab0255ff1
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-postgres
      tag: 8.5.0-x86_64
      digest: sha256:66cf395187db15f2798f96ab0139090bf003f5a0dd0af15ee779e5ac366327ff
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-models
      tag: 8.5.0-x86_64
      digest: sha256:8ce1fd86494e20720a735eeb4296c0bcb07644638a4c5f958847419d3c4fd407
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-mongodb
      tag: 8.5.0-x86_64
      digest: sha256:7ea49950181e1e76fc923169fe00cddab9cbae33589645e6d592b713a39f09cb
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-preprocessing
      tag: 8.5.0-x86_64
      digest: sha256:39b72da847a95f8e993a9be8a5a5b9fc9bcdb39bf501d1447b83522a127b300b
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-service
      tag: 8.5.0-x86_64
      digest: sha256:df6efb046aeeea6b3a17e4c281536b19578fdd80f69addba6da6c41a461c58f8
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-taskanaly
      tag: 8.5.0-x86_64
      digest: sha256:bbdd3c71cb8eed5849d3cc16a9891a92b04dc66022af2bbe27913d2778303c85
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-ui
      tag: 8.5.0-x86_64
      digest: sha256:baaebbe83c3db39097ab845eb7ada8151883c3cab1e2ee5c133b5ecfb5943e48
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-video-microservice
      tag: 8.5.0-x86_64
      digest: sha256:64d11a42f116e4781a2d13a51f473d1925acfce03e51a27ff35094042d2c8564
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-useragent
      tag: 8.5.0-x86_64
      digest: sha256:1baf9f5a0b8c269291aec3e4f00f3c45d0208812cd92b36866d61217216019e9
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
    - image: cp/visualinspection/vision-model-conversion
      tag: 8.5.0-x86_64
      digest: sha256:30c219a19399510ebc0127dd3544246bde8b446604a893589a54fe9bd4df3b8d
      mediaType: application/vnd.docker.distribution.manifest.v2
      registries:
      - host: cp.icr.io
      platform:
        architecture: amd64
        os: linux
