---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: opencloud-operators
  namespace: openshift-marketplace
spec:
  displayName: IBMCS Operators
  image: {{ registry_private_host }}:{{ registry_private_port }}/cpopen/ibm-common-service-catalog:latest
  publisher: IBM
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-mas-operators
  namespace: openshift-marketplace
spec:
  displayName: IBM MAS Operators
  image: {{ registry_private_host }}:{{ registry_private_port }}/cpopen/ibm-mas-operator-catalog:latest
  publisher: IBM
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-mas-iot-operators
  namespace: openshift-marketplace
spec:
  displayName: IBM MAS Operators - IoT
  image: {{ registry_private_host }}:{{ registry_private_port }}/cpopen/ibm-mas-iot-operator-catalog:latest
  publisher: IBM
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-mas-manage-operators
  namespace: openshift-marketplace
spec:
  displayName: ibm-mas-manage-operators
  image: {{ registry_private_host }}:{{ registry_private_port }}/cpopen/ibm-mas-manage-operator-catalog:latest
  publisher: IBM
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-sls-operators
  namespace: openshift-marketplace
spec:
  displayName: IBM SLS Operators
  image: {{ registry_private_host }}:{{ registry_private_port }}/cpopen/ibm-sls-operator-catalog:latest
  publisher: IBM
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-truststore-mgr-operators
  namespace: openshift-marketplace
spec:
  displayName: IBM Truststore Manager Operators
  image: {{ registry_private_host }}:{{ registry_private_port }}/cpopen/ibm-truststore-mgr-operator-catalog:latest
  publisher: IBM
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-udsoperator-catalog
  namespace: openshift-marketplace
spec:
  displayName: ibm-udsoperator-catalog
  image: {{ registry_private_host }}:{{ registry_private_port }}/cpopen/ibm-user-data-services-catalog:2.0.7
  publisher: IBM
  sourceType: grpc
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-db2uoperator-catalog
  namespace: openshift-marketplace
spec:
  displayName: ibm-db2uoperator-catalog
  image: {{ registry_private_host }}:{{ registry_private_port }}/cpopen/ibm-db2uoperator-catalog:latest
  publisher: IBM
  sourceType: grpc
