---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ digest_image_map_namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ digest_image_map_name }}
  namespace: {{ digest_image_map_namespace }}
data:
  image-map.yaml: |
    icr.io/ibm-truststore-mgr/worker:1.2.2: icr.io/ibm-truststore-mgr/worker@sha256:4baa316e076dbe900ef6a17e80be1900d1f9c4e9ba89309158c6c585f14bee90
