{
  "auths": {
{% if registry_username != "" and registry_password != "" %}
    "{{ registry_public_url }}": {
      "email": "unused",
      "auth": "{{ registry_auth | b64encode }}"
    },
{% endif %}
{% if ibm_entitlement_key != "" %}
    "cp.icr.io": {
      "email": "unused",
      "auth": "{{ ibm_auth | b64encode }}"
    }
{% endif %}
  }
}
